.lastrow{
    display: flex;
    justify-content: flex-end;
    text-align: end;
    align-items: flex-end;
    width: 100%;
   
}

.lastpass{
    width: 100%;
}

hr{
    width: 30%;
    margin-top: 1%;
    font-weight: 600;
    border-color: black;
    border-style: solid;
    margin-bottom: 7px;
}

.lastdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: flex-start;
    text-align: start;
    margin-bottom: 30px;
    width: 90%;
    max-height: fit-content;
    padding: 25px 0;
    gap: 1rem;
}

.lastdiv>div{
    margin-left: 3%;
}

.sec4div{
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: flex-start;
    text-align: start;
    align-items: flex-start;
}


.section4{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 2.5%;
   
}



.description2{
  

    display: flex;
   width:40%;
   flex-direction: column;
   gap: 0.7rem;
  
   justify-content: center;
   align-items: center;
   text-align: center;


 
  
}

.description2>div{

 display: flex;
 flex: 1;
 position: relative;
 width: 100%;
 justify-content:space-between;


}


.descleft{
    display: flex;
    width: 60%;
    justify-content: flex-start;
    text-align: start;
    align-items: flex-start;
   
}

.descright{
    display: flex;
    width: 40%;
  
}


.descmid{
    display: flex;
    width: 10%;
   
}

